.arrivals {
  background-image: url("../../assets/images/bg-1.png");
  background-color: var(--color-skin);

  .image-box {
    position: relative;
    z-index: 1;

    img {
      transition: all 1s ease;
      position: relative;
      z-index: 2;
    }

    .floor-box {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: rgb(254, 202, 87, 0.4);
      transition: all 1s ease;
      transform: scale(0.8);
      opacity: 0;
    }

    .text-box {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10%;
      z-index: 4;
      opacity: 0;
      transition: all 1s ease;

      .title {
        font-size: 3rem;

        @media (max-width: 1024px) {
          font-size: 1.2rem;
        }
      }

      .sub-title {
        font-size: 2rem;
        border-bottom: 1px solid #000;
        transition: all 1s ease;

        &:hover {
          color: brown;
          border-color: brown;
        }

        @media (max-width: 1024px) {
          font-size: 0.8rem;
        }
      }
    }

    &:hover {
      img {
        transform: scale(0.95);
      }

      .floor-box {
        transform: scale(0.9);
        opacity: 1;
      }

      .text-box {
        opacity: 1;
      }
    }
  }
}