.about-us {
  .title {
    line-height: 3.5rem;

    @media (max-width: 1024px) {
      line-height: 2rem;
      font-weight: bold;
    }
  }

  .sub-text {
    line-height: 2rem;
  }

  a {
    line-height: 3rem;
    color: var(--color-sub-text);
    transition: all 0.25s ease-in-out;

    &:hover {
      color: var(--primary);
    }
  }
}