.offer {
  background-image: url("../../assets/images/offer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  @media (max-width: 1024px) {
    background-position: center;
    height: 55vh;
  }

  .title {
    font-size: 4rem;

    @media (max-width: 1024px) {
      font-size: 1.2rem;
    }
  }

  .sub-title {
    font-size: 2rem;

    @media (max-width: 1024px) {
      font-size: 0.8rem;
    }
  }

  .box {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px dashed #000;
  }
}